<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Phase_2_Assignment</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>n1</param-name>
    <param-value>100</param-value>
  </context-param>
  <context-param>
    <param-name>n2</param-name>
    <param-value>300</param-value>
  </context-param>
  <context-param>
    <param-name>n3</param-name>
    <param-value>500</param-value>
  </context-param>
  <context-param>
    <param-name>n4</param-name>
    <param-value>400</param-value>
  </context-param>
  <servlet>
    <servlet-name>Serv_1</servlet-name>
    <servlet-class>com.Phase_2.Serv_12</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Serv_1</servlet-name>
    <url-pattern>/onContext1</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Serv_2</servlet-name>
    <servlet-class>com.Phase_2.Serv_22</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Serv_2</servlet-name>
    <url-pattern>/onContext2</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Serv_3</servlet-name>
    <servlet-class>com.Phase_2.Serv_32</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Serv_3</servlet-name>
    <url-pattern>/onContext3</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.Practice.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Dashboard</servlet-name>
    <servlet-class>com.Practice.Dashboard</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Dashboard</servlet-name>
    <url-pattern>/dashboard</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  
  <!-- Assignment 2 using session -->
  <servlet>
  <servlet-name>Ass1</servlet-name>
  <servlet-class>com.usingSession.Assignment_2</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>Ass1</servlet-name>
  <url-pattern>/sessionLogin</url-pattern>
  </servlet-mapping>
  
  <servlet>
  <servlet-name>Ass2</servlet-name>
  <servlet-class>com.usingSession.Assignment_2_second</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>Ass2</servlet-name>
  <url-pattern>/Welcome</url-pattern>
  </servlet-mapping>
</web-app>